aiofiles
ffmpeg-python
google-api-python-client>=2.126.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.0
google-generativeai
html2text
markdown
markdownify
nest_asyncio
openai-whisper
pandas
pillow
PyMuPDF
python-docx
python-dotenv
python-pptx
resampy
soundfile
streamlit
torch
torchvision
torchaudio
requests>=2.31.0
urllib3>=2.2.1
